version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule: { interval: "weekly" }
  - package-ecosystem: "gomod"
    directory: "/auth-portal"
    schedule: { interval: "weekly" }
